@model Category

<form method="post">
    <div>
        <div class="border p-3 mt-4">
            <h2 class="row pb-2">Create Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label>Category Name</label>
            <input type="text" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Display Order</label>
            <input type="text" class="form-control" />
        </div>

        <div class=" row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control" >Create</button>
                </div>
            <div class="col-6"> 
                <a asp-controller="Category"
                   asp-action="Index"
                   class="btn btn-secondary form-control" > Back to list</a></div>
        </div>
       
       
    </div>

</form>